<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="htp.basumatarau.task03.*"/>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://127.0.0.1/task03?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>

 	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml" />
	</bean> 

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="AuthorDAO"
		class="htp.basumatarau.task03.dao.impl.AuthorDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="NewsCategoryDAO"
		  class="htp.basumatarau.task03.dao.impl.NewsCategoryDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="NewsItemDAO"
		  class="htp.basumatarau.task03.dao.impl.NewsItemDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="TagDAO"
		  class="htp.basumatarau.task03.dao.impl.TagDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="defaultNewsServiceImpl"
		  class="htp.basumatarau.task03.service.impl.NewsServiceImpl">
		<property name="newsItemDAO" ref="NewsItemDAO"/>
	</bean>
</beans>





